/* .shop-header {
    background-color: #edf1ff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  .shop-header h3 {
    color: #d19c97;
    font-weight: 400;
  }
  .shop-header h1 {
    text-transform: uppercase;
  }
  .sort-options {
    text-align: right;
    margin-right: 25px;
    margin-bottom: 20px;
  }
  .sort-options select {
    border: 1px solid #ddd;
    height: 35px;
    width: 100px;
  } */